<template>
    <div>
        <li v-bind:class="{completed: this.todo.completed}"><input type="checkbox" v-on:change="change">{{ todo.id }} - {{todo.title}} - <span class='right floated trash icon' v-on:click="deleteTodo(todo)">X</span></li>
    </div>
</template>

<script>
    export default {
        name: "TodoItem",
        methods: {
            change() {
                this.todo.completed = !this.todo.completed;
            },
            deleteTodo(todo) {
                this.$emit('delete-todo', todo);
            },
        },
        props: ['todo']
    }
</script>

<style scoped>
    .completed {
        text-decoration: line-through;
    }
</style>