<template>
    <div id="app">
        <input v-on:delete-todo="deleteTodo" v-on:keyup.enter.prevent="addTodo" :enter="addTodo" type="text" v-model="todoText" />
        <ul>
            <TodoItem v-for="todo in todos" :key="todo.id" v-bind:todo="todo"></TodoItem>
        </ul>
    </div>
</template>

<script>
    import TodoItem from './TodoItem'

    export default {
        name: "TodoList",
        components: {
            TodoItem,
        },
        data() {
            return {
                todoText: ''
            }
        },
        props: ['todos'],
        methods: {
            addTodo() {
                if(!this.todoText == '') {
                    this.todos.push({
                        id: this.todos.length +1,
                        title: this.todoText,
                        completed: false
                    })
                }
            },
            deleteTodo(todo) {
                alert('emit');
                const todoIndex = this.todos.indexOf(todo);
                this.todos.splice(todoIndex, 1);
            },
        }
    }
</script>

<style scoped>

</style>